{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
    <h1>DÉTAILS</h1>
    </div>
    <div class="row justify-content-center">
    <div class="card col-5 top">
                <div class="card-body">
                <h5 class="card-title">{{ discipline.nomDiscipline | upper}}</h5>
                <h6 class="card-subtitle text-muted">Les sessions :</h6>
                    <div class="top">
                    
                {% for session in discipline.sessions %} 
                   <div class="card top" style="padding:20px;">
                    <p>- {{ session.titreSession | upper }} / {{ session.formules | upper }} / dates : {{ session.dateSession }}</p>
                    <p>{{ session.descriptionSession }}</p>
                    <p>Élèves inscrits :</p>
                    {% for inscription in session.inscriptionCollection %}
                        <p><img src="{{ asset('/assets/images/glyph/glyphicons-635-teenager.png')}}">{{ inscription.nom | upper }} {{ inscription.prenom | title }} {{ inscription.age }}</p>
                    {% endfor %}
                    </div>  
                {% endfor %}
                    </div>
                <div class="row justify-content-center">
                    <a href="{{ path('admin_discipline_edit', { 'id': discipline.id }) }}">
                        <button type="submit" class="btn btn-small bouton">Modifier</button>
                    </a>
                    <li>
                        {{ form_start(delete_form) }}
                            <button class="btn btn-small bouton" type="submit" value="Delete">Supprimer</button>
                        {{ form_end(delete_form) }}
                    </li>   
                    
                </div>
                </div>
            </div>
        </div>
        
   
</div>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}