{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid bottom">
    <div class="row justify-content-center">
        <h1 class="text-center">LES INSCRIPTIONS</h1>
    </div>
    <div class="row justify-content-center">
            <a href="{{ path('admin_inscription_new') }}" class="d-none d-sm-block">
                <img class="img-class" src="{{ asset('assets/images/glyph/ajoute-rond.png') }}" style="margin-right:10px;">
                <button class="btn btn-secondary btn-lg bouton " type="button">Ajouter une nouvelle Inscription</button>
            </a>
            <a href="{{ path('admin_inscription_new') }}" class="d-block d-sm-none">
                <img class="img-class" src="{{ asset('assets/images/glyph/ajoute-rond.png') }}" style="margin-right:10px;">
                <button class="btn btn-secondary btn-lg bouton " type="button">Nouvelle Inscription</button>
            </a>
            
    </div>   
    <div class="row justify-content-center">
    <div class=" col-11 top">
        <div class="row justify-content-center">
        {% for inscription in inscriptions %}
        
            <div class="grey rounded padding col-11 col-sm-11 col-md-11 col-lg-3 col-xl-3">
            <div class="card-body text-center">
                <div class="bg-green text-light "><img src="{{ asset('/assets/images/glyph/glyphicons-635-teenager.png')}}">
                <span class="left"> {{ inscription.nom | upper }} {{ inscription.prenom | title }}</span></div>
                <div class="text">{{ inscription.age }}</div>
                <div class="text">{{ inscription.tel }}</div>
                
                <div class="w-100"></div>
                <div class="text">{{ inscription.sessionId.formules }} / {{ inscription.sessionId.disciplines }}</div>
                <div class="w-100"></div>
                <div class="text" style="color:#1abc9c">{{ inscription.sessionId.titreSession }}</div>
                <div class="w-100"></div>
                <div class="text" style="color:#1abc9c">{{ inscription.sessionId.dateSession }}</div>
                <div class="w-100"></div>
                <div class="text">{{ inscription.sessionId.prix }}</div>
                <div class="w-100"></div>
                <div class="text">Inscrit par : {{ inscription.userId }}</div>
                <div class="w-100"></div>
                <div class="text">E-mail : {{ inscription.userId.email }}</div>
                <div class="w-100"></div>
                <div class="text">Prêt de matériel : 
                    {% if inscription.planche %}<i class="text-green">PLANCHE</i>
                    {% endif %}
                    {% if inscription.materiel %}<i class="text-green">PROTECTIONS</i>
                    {% endif %}
                    {% if (inscription.planche == 0) and (inscription.materiel == 0) %}<i class="text-green">non</i>
                    {% endif %}

                </div>
                <div class="text">Inscription : {% if inscription.valide %}<img src="{{ asset('assets/images/glyph/valide.png')}}">
                    {% else %}<span style="font-weight:bold">EN ATTENTE</span>
                    {% endif %}
                </div>
                <div>
                    
                            <a href="{{ path('admin_inscription_edit', { 'id': inscription.id }) }}">
                            <button class="btn btn-small btn-lg bouton">Modifier</button>
                            </a>
                        
                            <form action="{{ path('admin_inscription_delete', { 'id': inscription.id }) }}" method="post">
                              <input type="hidden" name="_method" value="DELETE" />
                              {{ form_widget(deleteForms[inscription.id]) }}
                              <button type="submit" class="btn btn-small btn-lg bouton">
                                  Supprimer
                              </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            
        {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}