{% include 'nav.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>LES INSCRIPTIONS</h1>
    </div>
    <div class="row justify-content-center">
            <a href="{{ path('admin_inscription_new') }}">
                <img class="img-class" src="{{ asset('assets/images/glyph/glyphicons-191-plus-sign.png') }}" style="margin-right:10px;">
                <button class="btn btn-dark bouton" type="button">Ajouter une nouvelle Inscription</button>
            </a>
    </div>   
    <div class="row justify-content-center">
    <div class=" col-11 top">
        <div class="row justify-content-center">
        {% for inscription in inscriptions %}
        
            <div class="border bg-light col-3">
            <div class="card-body text-center">
                <div class="border bg-secondary text-light "><img src="{{ asset('/assets/images/glyph/glyphicons-635-teenager.png')}}"><span class="left"> {{ inscription.nom | upper }} {{ inscription.prenom | title }}</span></div>
                <div class="text">{{ inscription.age }}</div>
                <div class="text">{{ inscription.tel }}</div>
                
                <div class="w-100"></div>
                <div class="text">{{ inscription.sessionId.formules }} / {{ inscription.sessionId.disciplines }}</div>
                <div class="w-100"></div>
                <div class="text text-success">{{ inscription.sessionId.titreSession }}</div>
                <div class="w-100"></div>
                <div class="text text-success">{{ inscription.sessionId.dateSession }}</div>
                <div class="w-100"></div>
                <div class="text">{{ inscription.sessionId.prix }}</div>
                <div class="w-100"></div>
                <div class="text">Inscrit par : {{ inscription.userId }}</div>
                <div class="w-100"></div>
                <div class="text">E-mail : {{ inscription.userId.email }}</div>
                <div class="text">Inscription : {% if inscription.valide %}VALIDÉE{% else %}<span style="color:red">EN ATTENTE</span>{% endif %}</div>
                <div>
                    <ul>
                        <li>
                            <a href="{{ path('admin_inscription_edit', { 'id': inscription.id }) }}">
                            <button class="btn btn-small bouton">Modifier</button>
                            </a>
                        </li>
                        <li>
                            <form action="{{ path('admin_inscription_delete', { 'id': inscription.id }) }}" method="post">
                              <input type="hidden" name="_method" value="DELETE" />
                              {{ form_widget(deleteForms[inscription.id]) }}
                              <button type="submit" class="btn btn-small bouton">
                                  Supprimer
                              </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            
        {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
