{% trans_default_domain 'FOSUserBundle' %}
<div class="container-fluid bg-light">
    <div class="col-12">
        <div class="row justify-content-center pt-5">
            <h4 class="text-green">Modifier mes informations</h4>
            <div class="w-100"></div>
            <div class="col-11 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                <div class="form">
                {{ form_label(form.email, 'Email',{'label_attr' : {'class' : ''}} ) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="form">
                {{ form_label(form.username, 'Nom d\'utilisateur' ,{'label_attr' : {'class' : ''}}) }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="form">
                {{ form_label(form.current_password, 'Mot de passe' ,{'label_attr' : {'class' : ''}}) }}
                {{ form_errors(form.current_password) }}
                {{ form_widget(form.current_password, {'attr': {'class':'form-control'}}) }}
                </div>
                <div class="row justify-content-center mt-4">
                    <button type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-dark bouton mt-4">Enregistrer les modifications</button>
                </div>
                <div class="row justify-content-center mb-4">
                    <a class="text-center" style="color:#1abc9c !important" href="{{ path('fos_user_profile_show') }}"><- Retour vers ma page profile</a>
                </div>
            </div>
                {{ form_end(form) }}
        </div>
    </div>
</div>
