{% trans_default_domain 'FOSUserBundle' %}


<div id="container">
    <div class="container-fluid" style="margin-bottom:7%;">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-9 col-sm-9 col-11 " id="admin-profil" style="padding:20px;margin-right:10px;background-color:black;border-radius:20px;">
            {% if app.user %}
                <h4 class="Titillium bottom">BIENVENUE SUR VOTRE COMPTE !</h4>
                <div class="fos_user_user_show" style="margin-top:10px">
                    <p >{{ 'profile.show.username'|trans }}: <b class="Titillium">{{ user.username | title }}</b></p>
                    <p>{{ 'profile.show.email'|trans }}: <b class="Titillium">{{ user.email }}</b></p>
                    <a href="{{ path('fos_user_change_password') }}">Changer le mot de passe</a>
                </div>
                {% if app.user.hasRole('ROLE_ADMIN') %}
                <div style="margin-top:50px" class="d-none d-sm-block">
                    <p>VOUS POUVEZ ADMINISTRER VOTRE SITE :</p>
                    <div>
                        <a href="{{ path ('admin_user_index') }}"> -> Gérer les Utilisateurs</a>
                    </div>
                    <div>
                        <a href="{{ path ('admin_tarif_index') }}"> -> Gérer les Tarifs</a>
                    </div>
                    <div>
                        <a href="{{ path ('admin_session_index') }}"> -> Gérer les Sessions</a>
                    </div>
                    <div>
                        <a href="{{ path ('admin_inscription_index') }}"> -> Gérer les Inscriptions</a>
                    </div>
                    <div>
                        <a href="{{ path ('admin_actu_index') }}"> -> Gérer les Articles</a>
                    </div>
                    <div>
                        <a href="{{ path ('admin_catalogue_index') }}"> -> Gérer le Catalogue</a>
                    </div>
                    <div>
                        <a href="{{ path ('admin_video_index') }}"> -> Gérer les Vidéos</a>
                    </div>
                    <div>
                        <a href="{{ path ('admin_contact_index') }}"> -> Gérer les Messages</a>
                    </div>
                </div>
                {% endif %}
                
            </div>
            <div class="col-xl-6 col-lg-6 col-md-9 col-sm-9 col-11">
                <div class="row justify-content-center" style="background-image:url('{{ asset('assets/images/skateschool/skateschool_darwin_diy.jpg') }}');height:27vh;background-repeat: no-repeat;background-size:cover;background-position: center;" >
                <h3 class="align-self-center text-light Titillium inscriptions-titre">MES INSCRIPTIONS : </h3>
                </div>
                
                {% for inscription in user.inscriptions %} 
                <div class="row align-items-center justify-content-center profil-inscriptions" style="margin-top:20px">
                    <div class="col-xl-2 col-lg-2 col-md-5 col-sm-5 col-5">
                        <img class="img-fluid" src="{{ asset('assets/images/logo/logo-bordza.png') }}">
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <h3><span class="hidden-mobile">Nom de l'élève inscrit : </span>{{ inscription.nom | title }} {{ inscription.prenom | title }}</h3>
                        <p>inscrit pour : {{ inscription.sessionId }}, Inscription {% if inscription.valide %}
                        <span>VALIDÉE <img class="valide" src="{{ asset('assets/images/glyph/valide.png') }}"></span>
                        {% else %}<span class="text-green">EN ATTENTE</span>{% endif %}</p>
                    </div>
                </div>
                {% endfor %}
                
            {% endif %}
                <div class="row justify-content-center">
                    <p class="text-center text text-green bottom col-12">Pour modifier une inscription, veuillez nous contacter au minimum 24H à l'avance. Merci.</p>
                    <a href="{{ path('contact')}}">
                        <button class="btn btn-secondary btn-lg bouton top">CONTACTEZ-NOUS</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
