{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid identifiant justify-content-center bottom">

<div class="row justify-content-center">
    <div class="col-12">
        <div class="row justify-content-center">
            <h2 class="text-center">MODIFIER L'ARTICLE</h2>
        </div>
    </div>
    <div class="col-11 col-sm-11 col-md-11 col-lg-9 col-xl-9" style="padding:20px">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-11 col-md-11 col-lg-6 col-xl-6"><img class="img-fluid col-12" src="{{ asset('uploads/images/' ~ actu.imageId ) }}"></div>
            <div class="w-100"></div>
            <a href="{{ path('admin_image_edit_image', { 'id': actu.imageId.id })}}">-> changer l'image : </a>
        </div>
    {{ form_start(edit_form) }}
        <!-- titre -->
        <div class="form">
            <div class="">
                {{ form_label(edit_form.titre, 'Titre de la news' ) }}
                {{ form_errors(edit_form.titre) }}
                {{ form_widget(edit_form.titre, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
    
    <!-- contenu -->
        <div class="form">
            <div class="">
                {{ form_label(edit_form.contenu, 'Contenu de la news' ) }}
                {{ form_errors(edit_form.contenu) }}
                {{ form_widget(edit_form.contenu, {'attr': {'class':'form-control textarea'}}) }}
            </div>
        </div>

    

    <!-- date -->
        <div class="form">
            <div class="">
                {{ form_label(edit_form.date, 'Date' ) }}
                {{ form_errors(edit_form.date) }}
                {{ form_widget(edit_form.date) }}
            </div>
        </div>






    <div class="form bouton">
                <div class="row justify-content-center">
                    {{ form_widget(edit_form) }}
                    <button class="btn btn-secondary" type="submit" value="Edit">Enregistrer les modifications</button>
                    {{ form_end(edit_form) }}
                </div>
            <div class="row justify-content-center text">
                <a href="{{ path('admin_actu_index') }}"><- Revenir aux Articles</a>
            </div>
            <div class="form bouton">
                <div class="row justify-content-center">
                    {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}