{% include 'nav.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>MES ARTICLES</h1>
    </div>
    <div class="row justify-content-center bouton">
            <a href="{{ path('admin_actu_new') }}">
                <img class="img-class" src="{{ asset('assets/images/glyph/glyphicons-191-plus-sign.png') }}" style="margin-right:10px;">
                <button class="btn btn-dark" type="button">Ajouter un nouvel Article</button>
            </a>
    </div>   
    

    
        {% for actu in actus %}
        <div class="row justify-content-center">
        <div class="col-10">
            <div class="row justify-content-center ligne article">
                <div class="col-4">
                <div><h3>{{ actu.titre | upper }}</h3></div>
                    <div class="w-100"></div>
                    <div>{% if actu.date %}{{ actu.date|date('d-m-Y') }}{% endif %}</div>
                    <div class="w-100"></div>
                    <img class="img-fluid" src="{{ asset('uploads/images/' ~ actu.imageId) }}">
                    <div class="w-100"></div>
                    <div>RÉSUMÉ : <br/>{{ actu.resume }}</div>
                </div>
                <div class="col-5">
                    
                    <div>CONTENU ARTICLE : <br/>{{ actu.contenu }}</div>
                    
                </div>
                
                
                <div class="col-3">
                    <div class="row">
                        <button class="btn btn-small bouton">
                            <a href="{{ path('admin_actu_edit', { 'id': actu.id }) }}">Modifier</a>
                        </button>   
                            <form action="{{ path('admin_actu_delete', { 'id': actu.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(deleteForms[actu.id]) }}
                                <button type="submit" class=" btn btn-small bouton">Supprimer</button>
                            </form>            
                    </div>
                </div>
            </div>
            </div>
            </div>
            <hr>
        {% endfor %}
{% endblock %}
