{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid identifiant justify-content-center bottom">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h2>NOUVEL ARTICLE</h2>
            </div>
        </div>
        <div class="col-11 col-sm-11 col-md-11 col-lg-9 col-xl-9 " style="padding:20px">

    {{ form_start(form) }}

    <!-- titre -->
        <div class="form">
            <div class="">
                {{ form_label(form.titre, 'Titre de la news') }}
                {{ form_errors(form.titre) }}
                {{ form_widget(form.titre, {'attr': {'class':'form-control'}}) }}
            </div>
        </div>
    
    <!-- contenu -->
        <div class="form">
            <div class="">
                {{ form_label(form.contenu, 'Contenu de la news') }}
                {{ form_errors(form.contenu) }}
                {{ form_widget(form.contenu, {'attr': {'class':'form-control textarea'}}) }}
            </div>
        </div>

    <!-- image -->
                <!-- pathimage -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.imageId.pathimage, 'Choisir une image') }}
                        {{ form_errors(form.imageId.pathimage) }}
                        {{ form_widget(form.imageId.pathimage ) }}
                    </div>
                </div>
                <!-- alt -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.imageId.alt, 'Description de l\'image / référencement' ) }}
                        {{ form_errors(form.imageId.alt) }}
                        {{ form_widget(form.imageId.alt, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>
                <!-- credit photo -->
                        <div class="form">
                            <div class=" ">
                                {{ form_label(form.imageId.creditPhoto, 'Credit Photo' ) }}
                                {{ form_errors(form.imageId.creditPhoto) }}
                                {{ form_widget(form.imageId.creditPhoto, {'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>

    <!-- date -->
        <div class="form">
            <div class="">
                {{ form_label(form.date, 'Date' ) }}
                {{ form_errors(form.date) }}
                {{ form_widget(form.date) }}
            </div>
        </div>
        
        <div class="form bouton">
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-secondary">Enregistrer cet Article</button>
            </div>
            <div class="row justify-content-center text">
                <a href="{{ path('admin_actu_index') }}"><- Revenir aux News</a>
            </div>
        </div>
    {{ form_end(form) }}
</div>
    </div>
    </div>
    
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}