<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="grey">
        <table bgcolor="black" width="100%" border="0" cellpadding="10px" cellspacing="0">
                <tbody>
                        <tr>
                                <td height="30" style="font-size:30px; line-height:30px" >
                                        &nbsp;
                                </td>
                        </tr>
                        <tr>
                                <td style="font-size:1.8em; line-height:45px" >
                                        <div style="color:white">
                                                <div style="width:100%;text-align:center;justify-content:center;margin-bottom:20px">
                                                        <div>
                                                                <p><b>Bonjour Bordza !</b></p>
                                                                <p style="font-size:0.8em">
                                                                    <p>Un nouveau message de <b>{{ contact.nom | title }} {{ contact.prenom | title }}</b> est en ligne.</p>
                                                                </p>
                                                        </div>
                                                </div>
                                        </div>
                                </td>
                        </tr>
                </tbody>
        </table>
        
        <table bgcolor="white" width="100%" border="0" cellpadding="10px" cellspacing="0">
            <tbody>
                <tr>
                    <td height="30" style="font-size:30px; line-height:30px" >
                            &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="font-size:1em; line-height:30px">
                        <div style="color:black">
                                <div style="width:100%;justify-content:center;margin-bottom:20px">
                                        <div>
                                            <p>Objet : {{ contact.objet }}</p>
    
                                            <p>Message : {{ contact.message }}</p>
    
                                            <p>envoyé le : {{ 'now' | date('d-m-Y H:i','Europe/Paris') }}.</p>
    
                                            <p>Répondre à : <a href="mailto:{{ contact.mail }}">{{ contact.mail }} </a></p>
    
                                            <p><a href="https://www.bordza.fr">Aller voir les messages</a></p>
                                        </div>
                                </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
            
            
           
            
        
    </body>
</html>


<!---->


{% block subject %}{% endblock %}
{% block body_html %}
{% autoescape false %}
<h2></h2>

<p></p>


{% endautoescape %}
{% endblock %}