{% block subject %}{% endblock %}
{% block body_html %}
{% autoescape false %}
<h1>Bonjour Bordza !</h1>

<span style="background-color:red;color:black">Un nouveau message de {{ contact.nom | title }} {{ contact.prenom | title }} est en ligne.</span>

Objet : {{ contact.objet }}

Message : {{ contact.message }}

envoyé le : {{ "now" | date("d-m-Y H:i") }}.

Répondre à : <button>{{ contact.mail }}. </button>

{% endautoescape %}
{% endblock %}