
<footer>
    <div class="container-fluid">
        <div class="row justify-content-around footer">
            <div class="nav-footer">
                <a href="{{ path('homepage') }}">| ACCUEIL</a>
            </div>
            <div class="nav-footer">
                <a href="{{ path('skateschool') }}">| SKATESCHOOL</a>
            </div>
            <div class="nav-footer">
                <a href="{{ path('actu') }}">| NEWS</a>
            </div>
            <div class="nav-footer">
                <a href="{{ path('catalogue') }}">| CATALOGUE</a>
            </div>
            <div class="nav-footer">
                <a href="{{ path('serigraphie') }}">| PERSONNALISATION</a>
            </div>
            <div class="nav-footer">
                <a href="{{ path('video') }}">| VIDÉOS</a>
            </div>
            <div class="nav-footer">
                <a href="{{ path('concept') }}">| CONCEPT</a>
            </div>
            <div class="nav-footer">
                <a href="{{ path('contact') }}">| CONTACT</a>
            </div>
        </div>
        <div class="row justify-content-center align-items-end link">
            <div class="nav-link" style="margin-top: 30px;margin-bottom: 0;font-size: 0.9em">
                <a href="{{ path ('cgv') }}">Nos condtions générales de vente</a>
            </div>
            <div class="nav-link" style="margin-top: 30px;margin-bottom: 0;font-size: 0.9em">
                <span>Suivez-nous</span>
            </div>
            <div class="nav-link" style="margin-top: 15px;margin-bottom: 0;font-size: 0.9em">
                <span id="reseaux-sociaux"><a href="https://www.facebook.com/bordza.longboards/"> <img src="{{ asset('/assets/images/glyph/glyphicons-social-31-facebook.png') }}"></a><a href="https://www.instagram.com/bordzaskateboard/"><img src="{{ asset('/assets/images/glyph/glyphicons-social-33-instagram.png') }}"></a><a href="https://vimeo.com/user5674470"><img src="{{ asset('/assets/images/glyph/glyphicons-social-35-vimeo.png') }}"></a><a href="https://www.youtube.com/user/nenethylik"><img src="{{ asset('/assets/images/glyph/youtube.png') }}"></a></span>
            </div>
        </div>
        <div class="row justify-content-center link" style="margin-top: 15px;margin-bottom: 0;font-size: 0.9em">
                <span class="nav-link">- BORDZA Marque déposée -</span><span class="nav-link">- Tous droits réservés -</span>
        </div>
    </div>
</footer>








