{% extends 'base.html.twig' %}
{% block metadescription %}<meta name="Description" content="Bordza, inscrivez-vous en ligne aux cours de l'école de skateboard Bordelaise.">{% endblock %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}
{% block body %}
<div class="container-fluid identifiant justify-content-center bottom">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h1>INSCRIPTION</h1>
            </div>
        </div>
        <div class="col-6"><img class="img-fluid padding" src="{{ asset('assets/images/skateschool/skate_andernos.jpg') }}"></div>
        <div class="col-4 bottom top">
            <div class="row justify-content-center">
                <div class="col-11">
    {{ form_start(form) }}
            <!-- formule -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.formule, ' Choisir une formule ') }}
                        {{ form_errors(form.formule) }}
                        {{ form_widget(form.formule, {'attr': {'class':'custom-select'}}) }}
                    </div>
                </div>
            <!-- sessionId -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.sessionId, ' Choisir une session ') }}
                        {{ form_errors(form.sessionId) }}
                        {{ form_widget(form.sessionId, {'attr': {'class':'custom-select'}}) }}
                    </div>
                </div>
            <!-- forfait -->         
                <div class="form top hidden" id="forfaits">
                    <label>Choisir un Forfait</label>
                    <div class="row  col-12">
                        <div class="col">
                            <div class="row caseacocher">
                                {{ form_errors(form.forfait1h) }}
                                {{ form_widget(form.forfait1h) }}
                                {{ form_label(form.forfait1h, ' forfait 1H ') }}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <div class="row caseacocher">
                                {{ form_errors(form.forfait5h) }}
                                {{ form_widget(form.forfait5h) }}
                                {{ form_label(form.forfait5h, ' forfait 5H ') }}
                            </div>
                        </div>
                        <div class="w-100"></div>

                        <div class="col">
                            <div class="row caseacocher">
                                {{ form_errors(form.forfait10h) }}
                                {{ form_widget(form.forfait10h) }}
                                {{ form_label(form.forfait10h, ' forfait 10H ') }}
                            </div>
                        </div>
                        <div class="w-100"></div>

                        <div class="col">
                            <div class="row caseacocher">
                                {{ form_errors(form.forfaitAnnuel) }}
                                {{ form_widget(form.forfaitAnnuel) }}
                                {{ form_label(form.forfaitAnnuel, ' forfait annuel ') }}
                            </div>
                        </div>
                    </div>
                </div>
                
            <!-- nom -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.nom, 'Nom de l\'élève  *') }}
                        {{ form_errors(form.nom) }}
                        {{ form_widget(form.nom, {'attr': {'class':'form-control '}}) }}
                    </div>
                </div>

            <!-- prenom -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.prenom, ' Prénom de l\'élève  *') }}
                        {{ form_errors(form.prenom) }}
                        {{ form_widget(form.prenom, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>

            <!-- age -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.age, ' Age de l\'élève  *') }}
                        {{ form_errors(form.age) }}
                        {{ form_widget(form.age, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>

            <!-- tel -->
                <div class="form">
                    <div class="bottom">
                        {{ form_label(form.tel, ' Téléphone de l\'élève ou du responsable légal  *') }}
                        {{ form_errors(form.tel) }}
                        {{ form_widget(form.tel, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>

            <!-- prêt de planche -->
                <div class="form  top">
                    <div class="row col-12 top caseacocher">
                        {{ form_errors(form.planche) }}
                        {{ form_widget(form.planche) }}
                        {{ form_label(form.planche, ' Prêt de planche ') }}
                    </div>
                </div>

            <!-- prêt de matériel de protection -->
                
                    <div class="row col-12 caseacocher">
                        {{ form_errors(form.materiel) }}
                        {{ form_widget(form.materiel) }}
                        {{ form_label(form.materiel, ' Prêt d\'équipement de protection ') }}
                    </div>
                

        <div class="row top">
            <div class="col-12 text-green">
                <p>Une inscription par personne. Si vous souhaitez inscrire 
                 plusieurs élèves, merci de remplir le formulaire pour chaque participant.<br/>
                 Vous pourrez retrouver le récapitulatif de cette inscription et en suivre sa validation
                 à la rubrique "mon compte". </p>
            </div>
        </div>
        <div class="w-100"></div>
        <div class=" text-green">
            <p>*Toutes les informations collectées servent à organiser les
            cours en fonction des ages et à nous permettre de vous prévenir rapidement en cas de météo défavorable ou de tout autre motif de repport ou d'annulation
            d'un cours. Pour cela veillez à bien noter un numéro de téléphone valide. Ce numéro servira également au professeur afin de rentrer en contact avec vous 
            avant de valider l'inscription. Les informations collectées ne seront transmises qu'au professeur 
            concerné, elles ne seront en aucun cas divulguées.</p>
        </div> 
            
        <div class="row justify-content-center" style="display:none">
            <!-- valide -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.valide, ' Résérvation Validée ') }}
                        {{ form_errors(form.valide) }}
                        {{ form_widget(form.valide) }}
                    </div>
                </div>
        </div>
        <div class="w-100"></div>
        <div class="row top justify-content-center">
        <button class="btn btn-secondary bouton" type="submit" value="Créer" >Enregistrer l'inscription</button>
        <div class="w-100"></div>
    {{ form_end(form) }}
            
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}
{% block javascripts %}
<script>


$(document).ready(function(){

var forfaits = document.getElementById('forfaits');
var $formule = $('#appbundle_inscription_formule');
// When fomrule gets selected ...
$formule.change(function() {

    

  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data[$formule.attr('name')] = $formule.val();
  // Submit data via AJAX to the form's action path.

 $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
      // Replace current session field ...
      $('#appbundle_inscription_sessionId').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#appbundle_inscription_sessionId')
      );
      // Position field now displays the appropriate positions.
    }
  })
})
$formule.change(function(){
    var newVal = $formule.val();
    console.log(newVal);
    if (newVal == 1){
        $(forfaits).addClass("show");
        $(forfaits).removeClass("hidden");
    }
    if (newVal == 2){
        $(forfaits).addClass("hidden");
        $(forfaits).removeClass("show")
    }else{
        return;
    }
;})

  
   
} 

);

</script>

{% endblock %}
