{% include 'nav.html.twig' %}
{% block body %}
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item img-carousel active" style="background-image:url('{{ asset('assets/images/skateschool/_ALX1170.jpg')}}');">
    </div>
    <div class="carousel-item img-carousel" style="background-image:url('{{ asset('assets/images/skateschool/_ALX1187.jpg')}}');">
    </div>
    <div class="carousel-item img-carousel" style="background-image:url('{{ asset('assets/images/skateschool/_ALX1188.jpg')}}');">
    </div>
    <div class="carousel-item img-carousel" style="background-image:url('{{ asset('assets/images/skateschool/_ALX1406.jpg')}}');">
    </div>
    <div class="carousel-item img-carousel" style="background-image:url('{{ asset('assets/images/skateschool/_ALX1416.jpg')}}');">
    </div>
    <div class="carousel-item img-carousel" style="background-image:url('{{ asset('assets/images/skateschool/rigalet-skateboard-standup.jpg')}}');">
    </div>
    <div class="carousel-item img-carousel" style="background-image:url('{{ asset('assets/images/skateschool/slide-longboard-rigalet.jpg')}}');">
    </div>
    <div class="carousel-item img-carousel" style="background-image:url('{{ asset('assets/images/skateschool/perfectionnement-skateboard-buttboard-rigalet.JPG')}}');">
    </div>
    <div class="carousel-item img-carousel" style="background-image:url('{{ asset('assets/images/skateschool/skatesurfcamp_2.JPG')}}');">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-3">
      {% for tarif in tarifs %}
        <td>{{ tarif.uneHeure }}</td>
        <td>{{ tarif.cinqHeures }}</td>
        <td>{{ tarif.dixHeures }}</td>
        <td>{{ tarif.trimestre }}</td>
        <td>{{ tarif.annee }}</td>
      {% endfor %}
    </div>
    <div class="col-8">
      <div><p>Dans le but de partager notre passion dévorante pour la planche à roulette, la Bordzkool propose différentes formules d'enseignements.<p>
        <p>Tous nos cours sonr encadrés par un moniteur diplômé.</p>
      </div>
      <div>
        <h3>Nos cours de Skateboard / STREET - RAMPE - BOWL</h3>
          {% for formule in formules %}
            {% if formule.nomFormule == "COURS" %}
              {% for session in formule.sessions %}
                <div>
                  <td>{{ session.titreSession }}</td>
                  <td>{{ session.disciplines }}</td>
                  <td>{{ session.dateSession }}</td>
                  <td>{{ session.nbPlace }}<span class="nombrePlacesRestantes">{% if (session.nbPlace)==(session.inscriptionCollection.snapshot | length) %}COMPLET{% else %}il reste de la place{% endif %}</span></td>
                  <td>{{ session.descriptionSession }}</td>
                  <td>{{ session.prix }}</td>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</div>
  <hr/>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="text-center"><h3>LES STAGES</h3></div>
  </div>
  {% for formule in formules %}
    
      {% if formule.nomFormule == "STAGE" %}
        {% for session in formule.sessions %}
            <div class="row bg-ligne justify-content-center">

              <div class="col-9 titre-stage">{{ session.titreSession | upper }}</div>
            
              <div class="row justify-content-around">
                <div class="col-5"><img class="img-fluid" src ="{{ asset('uploads/images/' ~ session.image.pathImage)}}">
                </div>
                <div class="col-6">
                  <div>{{ session.disciplines }}</div>
                  <div>{{ session.dateSession }}</div>
                  <div>{{ session.nbPlace }}<span class="nombrePlacesRestantes">Nombre de places restantes : {{ (session.nbPlace)-(session.inscriptionCollection.snapshot | length) }}</span></div>
                  <div>{{ session.descriptionSession }}</div>
                  <div>{{ session.prix }}</div>
                </div>
              </div>

            </div>
          
        {% endfor %}
      {% endif %}
    
  {% endfor %}
  
</div>
<hr/>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="text-center"><h3>LES ÉVÉNEMENTS BORDZA</h3></div>
  </div>
  {% for formule in formules %}
    
      {% if (formule.nomFormule != "COURS") and (formule.nomFormule != "STAGE") %}
        {% for session in formule.sessions %}
            <div class="row bg-ligne justify-content-center">

              <div class="col-9 titre-stage">{{ session.titreSession | upper }}</div>
            
              <div class="row justify-content-around">
                <div class="col-5"><img class="img-fluid" src ="{{ asset('uploads/images/' ~ session.image.pathImage)}}">
                </div>
                <div class="col-6">
                  <div>{{ session.disciplines }}</div>
                  <div>{{ session.dateSession }}</div>
                  <div>{{ session.nbPlace }}<span class="nombrePlacesRestantes">Nombre de places restantes : {{ (session.nbPlace)-(session.inscriptionCollection.snapshot | length) }}</span></div>
                  <div>{{ session.descriptionSession }}</div>
                  <div>{{ session.prix }}</div>
                </div>
              </div>

            </div>
          
        {% endfor %}
      {% endif %}
    
  {% endfor %}
  
</div>

</div>
{% endblock %}