{% extends 'base.html.twig' %}

{% block body %}
                
    <div class="container-fluid" style="width:85vw; height:100vh">
    <span id="login"><img src="{{ asset('/assets/images/logo/glyphicons-291-skull.png') }}"></span>
    <div class="row">
            <div class="col-9">
                <div class="row">
                    
                    <div class="col-12" style="border:solid rgb(226, 226, 226) 10px;height:27vh;background-image: url('{{ asset("/assets/images/catalogue/longcruiser-bordza.png")}}');background-repeat: no-repeat;background-size:cover;">
                        <a class="pages" href="">|LA SÉRIGRAPHIE</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="border:solid rgb(226, 226, 226) 10px;height:35vh;background-color:rgb(226, 226, 226);background-image: url('{{ asset("/assets/images/video/logo.png")}}');background-repeat: no-repeat;background-size:cover;">
                        <a class="pages" href="">|NOS VIDÉOS</a>
                    </div>
                    <div class="col-8" style="border:solid rgb(226, 226, 226) 10px;height:35vh;background-image: url('{{ asset("/assets/images/skateschool/_ALX1406.jpg") }}');background-repeat: no-repeat;background-size:cover;background-position: center;">
                        <a class="pages" href="{{ path('skateschool') }}">|LA SKATESCOOL</a>
                    </div>
                </div>
            </div>
            
            <div class="col-3 " style="border:solid rgb(226, 226, 226) 10px;background-image: url('{{ asset("assets/images/news/festival_du_jeu2017.jpg") }}');background-repeat: no-repeat;background-size:cover;background-position:right">
            <a class="pages" href="">|LES NEWS</a>
            </div>
            
        </div>
    
        <div class="row">
            <div class="col-8" style="border:solid rgb(226, 226, 226) 10px;height:27vh;background-image: url('{{ asset("/assets/images/catalogue/bowl_peter.jpg")}}');background-repeat: no-repeat;background-size:cover;">
                <a class="pages" href="">|NOTRE CATALOGUE</a>
            </div>
            <div class="col-4" style="border:solid rgb(226, 226, 226) 10px;height:27vh;background-image: url('{{ asset("/assets/images/valeur/bandeau-partenaire.png") }}');background-repeat: no-repeat;background-size:cover;">
                <a class="pages" href="">|NOS VALEURS</a>
            </div>
        </div>
    
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block bootstrap %} 
    
{% endblock %}
{% block javascripts %}
<script>
var navLogin = document.getElementById('identifiants');
var login = document.getElementById('login');
function cacheNavLogin(){
    navLogin.setAttribute('style','display:none');
}

login.onclick = function(){
    navLogin.setAttribute('style','display:block');
}

cacheNavLogin();

</script>
{% endblock %}
