{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
    <div class="container-fluid identifiant justify-content-center bottom">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h2 class="top">MODIFIER L'IMAGE</h2>
            </div>
        </div>
        <div class="col-4 top" style="padding:20px">
            
    {{ form_start(edit_form) }}
                <!-- pathimage -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.pathimage, 'Choisir une image') }}
                        {{ form_errors(edit_form.pathimage) }}
                        {{ form_widget(edit_form.pathimage ) }}
                    </div>
                </div>
                <!-- alt -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.alt, 'Description de l\'image / référencement' ) }}
                        {{ form_errors(edit_form.alt) }}
                        {{ form_widget(edit_form.alt, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>
                <!-- credit photo -->
                        <div class="form">
                            <div class=" ">
                                {{ form_label(edit_form.creditPhoto, 'Credit Photo' ) }}
                                {{ form_errors(edit_form.creditPhoto) }}
                                {{ form_widget(edit_form.creditPhoto, {'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                <div class="form bouton">
                    <div class="row justify-content-center">
                        <div class="text">Attention à ne pas oublier de choisir une nouvelle image avant de valider le formulaire.</div>
                        <div class="w-100"></div>
                        <button class="btn btn-secondary bouton"type="submit" value="Edit">Enregistrer les modifications</button>
                        {{ form_end(edit_form) }}
                    </div>
                    <div class="row justify-content-center">
                        {{ form_start(delete_form) }}
                            <button class="btn btn-danger  bouton" type="submit" value="Delete">Supprimer</button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}