{% include 'nav.html.twig' %}

{% block body %}
    <div class="container-fluid identifiant justify-content-center">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h1>MODIFIER L'IMAGE</h1>
            </div>
        </div>
        <div class="col-4 border border-dark top" style="padding:20px">
            
    {{ form_start(edit_form) }}
                <!-- pathimage -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.pathimage, 'Choisir une image') }}
                        {{ form_errors(edit_form.pathimage) }}
                        {{ form_widget(edit_form.pathimage ) }}
                    </div>
                </div>
                <!-- alt -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.alt, 'Description de l\'image / référencement' ) }}
                        {{ form_errors(edit_form.alt) }}
                        {{ form_widget(edit_form.alt, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>
                <!-- credit photo -->
                        <div class="form">
                            <div class=" ">
                                {{ form_label(edit_form.creditPhoto, 'Credit Photo' ) }}
                                {{ form_errors(edit_form.creditPhoto) }}
                                {{ form_widget(edit_form.creditPhoto, {'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
                <div class="form bouton">
                    <div class="row justify-content-center">
                        <div class="text">Attention à ne pas oublier de choisir une nouvelle image avant de valider le formulaire.</div>
                        <div class="w-100"></div>
                        <button class="btn btn-dark bouton"type="submit" value="Edit">Enregistrer les modifications</button>
                        {{ form_end(edit_form) }}
                    </div>
                    <div class="row justify-content-center">
                        {{ form_start(delete_form) }}
                            <button class="btn btn-light bouton" type="submit" value="Delete">Supprimer</button>
                        {{ form_end(delete_form) }}
                    </div>
                </div
{% endblock %}
