{% include 'nav.html.twig' %}

{% block body %}
    <h1>Image edit</h1>

    {{ form_start(edit_form) }}
    <div >
    {{ form_label(edit_form.alt, 'alt' ) }}
    {{ form_errors(edit_form.alt) }}
    {{ form_widget(edit_form.alt) }}
    </div>
    <div >
    {{ form_label(edit_form.creditPhoto, 'credit photo' ) }}
    {{ form_errors(edit_form.creditPhoto) }}
    {{ form_widget(edit_form.creditPhoto) }}
    </div>
    <div >
    {{ form_label(edit_form.pathimage, 'choisir une image' ) }}
    {{ form_errors(edit_form.pathimage) }}
    {{ form_widget(edit_form.pathimage) }}
    </div>
    
    
    
   
        
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_image_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
