{% include 'nav.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center retour-categories">
        <p>retour vers <a href="{{ path('admin_session_index') }}">{{ 'les Sessions' | upper }}</a>
         , vers <a href="{{ path('admin_catalogue_index') }}">{{ 'le Catalogue' | upper }}</a>
          , vers <a href="{{ path('admin_actu_index') }}">{{ 'les News' | upper }}</a>
        </p>
    </div>
    <div class="row justify-content-center">
        <h1>MES IMAGES</h1>
    </div>
      
        {% for image in images %}
        <div class="row justify-content-center ligne">
        <div class="border bg-white col-10">
        <div class="row justify-content-center">
            <div class="col-4"><img class="img-fluid col-12" src="{{ asset('uploads/images/' ~ image.pathImage) }}"></div>
            <div class="col-3">
                <div class="text">Description de l'image / Référencement : <br/>{{ image.alt }}</div>
                <div class="text">Crédit Photo : <br/>{{ image.creditPhoto }}</div>
            </div>
            <div class="col-3">
                <ul>
                    <li >
                        <a href="{{ path('admin_image_show', { 'id': image.id }) }}">
                        <button type="submit" class="btn btn-small bouton">Détails</button>
                        </a>
                        
                    </li>
                    <li>
                        <a href="{{ path('admin_image_edit', { 'id': image.id }) }}">
                        <button type="submit" class="btn btn-small bouton">Modifier les attibuts</button>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_image_edit_image', { 'id': image.id }) }}">
                        <button type="submit" class="btn btn-small bouton">Modifier l'Image</button>   
                        </a>
                    </li>
                </ul>
            </div>
        </div>  
        </div> 
        </div>
        {% endfor %}
</div>

{% endblock %}
