
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="container-fluid identifiant">
    <div class="row justify-content-center">
        <div class="col-3 border border-dark" style="padding:20px">

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    
    <div class="form">
    {{ form_label(form.username, 'Nom d\'utilisateur' ) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="form">
    {{ form_label(form.email, 'Email') }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="form">
    {{ form_label(form.plainPassword.first, 'Choisissez le mot de passe') }}
    {{ form_errors(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="form">
    {{ form_label(form.plainPassword.second, 'Confirmer le mot de passe' ) }}
    {{ form_errors(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'class':'form-control'}}) }}
    </div>

    
    <div class="row justify-content-center">
        <div class="col-4 identifiant">
            <button type="submit" class="btn btn-dark">Enregistrer</button>
        </div>
    </div>
{{ form_end(form) }}
</div>
</div>
</div>

{% endblock body %}