{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center retour-categories">
        <p>retour vers <a href="{{ path('admin_session_index') }}">{{ 'les Sessions' | upper }}</a></p>
    </div>
    <div class="row justify-content-center">
        <h1>LES FORMULES</h1>
    </div>
    <div class="row justify-content-center bouton">
            <a href="{{ path('admin/formule_new') }}">
                <img class="img-class" src="{{ asset('assets/images/glyph/glyphicons-191-plus-sign.png') }}" style="margin-right:10px;">
                <button class="btn btn-dark" type="button">Ajouter une nouvelle Formule</button>
            </a>
    </div> 
    <div class="row justify-content-center">  
    <div class="col-10">
        {% for formule in formules %}
            <div class="row justify-content-center border bg-white top">
                <div class="col-2"><h2>{{ formule.nomFormule | upper }}</h2></div>
                <div class="col-7">
                
                    <div class="row">
                
                        {% for session in formule.sessions %}
                        <div class="border bg-light col-4">
                        <div class="card-body">
                            <div class="col-12">{{ session.titreSession }}</div>
                            {% if formule.nomFormule != "COURS" %}
                            <div class="col-12"><img class="img-fluid"src="{{ asset('uploads/images/' ~ session.image.pathImage) }}"></div>
                            {% endif %}
                            <div class="col-12">{{ session.dateSession }}</div>
                        </div>    
                        </div>    
                        {% endfor %}
                    </div>
                </div>
            
                            
                <div class="col-2 bouton">
                <ul>
                <li >
                    
                        <a href="{{ path('admin/formule_show', { 'id': formule.id }) }}">
                        <button type="submit" class="col-12 btn btn-small bouton">Détails</button>
                        </a>
                    
                </li >
                <li >                
                    
                        <a href="{{ path('admin/formule_edit', { 'id': formule.id }) }}">
                        <button type="submit" class="col-12 btn btn-small bouton">Modifier</button>
                        </a>
                    
                </li >
                <li >
                    <form action="{{ path('admin/formule_delete', { 'id':formule.id }) }}" method="post">
                      <input type="hidden" name="_method" value="DELETE" />
                      {{ form_widget(deleteForms[formule.id]) }}
                      <button type="submit" class="col-12 btn btn-small bouton">
                          Supprimer
                      </button>
                    </form>
                </li >
                </ul> 
                </div>
                   
                            
            </div>
                

<hr>   
        {% endfor %}
        </div>
        </div>
        </div>
    
      

    <ul>
        <div class="col-2">
            <a href="{{ path('admin/formule_new') }}">Create a new formule</a>
        </div class="col-2">
    </ul>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}