{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid identifiant justify-content-center bottom">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h2 class="text-center top">MODIFIER LA PAGE</h2>
            </div>
        </div>
        <div class="col-11 col-sm-11 col-md-11 col-lg-5 col-xl-5" style="padding:20px">
            <div class="row justify-content-center">
                <div><img class="img-fluid" src="{{ asset('uploads/images/' ~ catalogue.image ) }}"><div>
                <div class="w-100"></div>
                <a href="{{ path('admin_image_edit_image', { 'id': catalogue.image.id })}}">-> changer l'image : </a>
            </div>
    {{ form_start(edit_form) }}
        <!-- titre -->
            <div class="form">
                <div class="">
                    {{ form_label(edit_form.titre, 'Titre de la page') }}
                    {{ form_errors(edit_form.titre) }}
                    {{ form_widget(edit_form.titre, {'attr': {'class':'form-control '}}) }}
                </div>
            </div>
        <!-- ordre d'affichage -->
            <div class="form">
                <div class="">
                    {{ form_label(edit_form.orderNumber, 'Ordre d\'affichage') }}
                    {{ form_errors(edit_form.orderNumber) }}
                    {{ form_widget(edit_form.orderNumber, {'attr': {'class':'form-control '}}) }}
                </div>
            </div>
            <div class="form">
                <div class="row justify-content-center">
                <button class="btn btn-secondary bouton" type="submit" value="Edit">Enregistrer les modifications</button>
                </div>
            </div>
            {{ form_end(edit_form) }}
            <div class="form bouton">
                <div class="row justify-content-center">
                    {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    {{ form_end(delete_form) }}
                </div>
            </div>
    
            <div class="row justify-content-center">
                <a href="{{ path('admin_catalogue_index') }}"><- Retour ves les pages du Catalogue</a>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}