{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid bottom">
    <div class="row justify-content-center">
    <h1 class="text-center">PAGES DU CATALOGUE</h1>
    </div>
    <div class="row justify-content-center bouton">
            <a href="{{ path('admin_catalogue_new') }}">
                <img class="img-class" src="{{ asset('assets/images/glyph/ajoute-rond.png') }}" style="margin-right:10px;">
                <button class="btn btn-secondary btn-lg" type="button">Ajouter une nouvelle page</button>
            </a>
    </div>   
        {% for catalogue in catalogues %}
        <div class="row justify-content-center text-center ligne">
                <div class="col-11 col-sm-11 col-md-11 col-lg-4 col-xl-4"><h4>{{ catalogue.titre | upper }}</h4></div>
                <div class="w-100"></div>
                <div class="col-11 col-sm-11 col-md-11 col-lg-5 col-xl-5"><img class="img-fluid col-12" src="{{ asset('uploads/images/' ~ catalogue.image ) }}"></div>
                <div class="w-100"></div>
                <div class="row justify-content-center bouton">
                    
                        <a href="{{ path('admin_catalogue_edit', { 'id': catalogue.id }) }}">
                        <button class="btn btn-light btn-lg bouton">Modifier</button>
                        </a>
                        <form action="{{ path('admin_catalogue_delete', { 'id': catalogue.id }) }}" method="post">
                          <input type="hidden" name="_method" value="DELETE" />
                          {{ form_widget(deleteForms[catalogue.id]) }}
                          <button type="submit" class="btn btn-light btn-lg bouton"> Supprimer</button>
                        </form> 
                    
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}