{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid identifiant justify-content-center bottom">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h1 class="text-center">AJOUTER UNE NOUVELLE PAGE</h1>
            </div>
        </div>
        <div class="col-11 col-sm-11 col-md-11 col-lg-5 col-xl-5 border border-light" style="padding:20px">

    {{ form_start(form) }}
        <!-- titre -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.titre, 'Titre de la page') }}
                        {{ form_errors(form.titre) }}
                        {{ form_widget(form.titre, {'attr': {'class':'form-control '}}) }}
                    </div>
                </div>
        <!-- image -->
                <!-- pathimage -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.image.pathimage, 'Choisir une image') }}
                        {{ form_errors(form.image.pathimage) }}
                        {{ form_widget(form.image.pathimage, {'attr': {'class':''}}) }}
                    </div>
                </div>
                <!-- alt -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.image.alt, 'Description de l\'image / référencement') }}
                        {{ form_errors(form.image.alt) }}
                        {{ form_widget(form.image.alt, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>
                <!-- credit photo -->
                        <div class="form">
                            <div class="">
                                {{ form_label(form.image.creditPhoto, 'Crédit Photo' ) }}
                                {{ form_errors(form.image.creditPhoto) }}
                                {{ form_widget(form.image.creditPhoto, {'attr': {'class':'form-control'}}) }}
                            </div>
                        </div>
        <div class="form bouton">
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-secondary btn-lg bouton">Ajouter cette page au Catalogue</button>
            </div>
            <div class="row justify-content-center text">
                <a href="{{ path('admin_catalogue_index') }}"><- Revenir aux Pages</a>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}