{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid identifiant justify-content-center bottom">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center">
                <h1 class="text-center">MODIFIER LA SESSION</h1>
            </div>
        </div>
        <div class="col-11 col-sm-11 col-md-11 col-lg-9 col-xl-9 border border-light top" style="padding:20px">
            <div class="col">
            {% if session.image != null %}
                <img class="img-fluid col-12" src="{{ asset('uploads/images/' ~ session.image ) }}">
                <a href="{{ path('admin_image_edit_image', { 'id': session.image.id })}}">-> changer l'image </a>
            {% endif %}
            </div>
            {{ form_start(edit_form)}}
            <!-- ordre d'affichage -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.orderNumber, 'Ordre d\'affichage ') }}
                        {{ form_errors(edit_form.orderNumber) }}
                        {{ form_widget(edit_form.orderNumber, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>

            <!-- formules -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.formules, 'Choisir une formule') }}
                        {{ form_errors(edit_form.formules) }}
                        {{ form_widget(edit_form.formules, {'attr': {'class':'custom-select btn-dark'}}) }}
                    </div>
                </div>
                <a href="{{ path('admin/formule_new') }}">-> Ajouter une formule</a>

            <!-- disciplines -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.disciplines, 'Choisir une discipline  ') }}
                        {{ form_errors(edit_form.disciplines) }}
                        {{ form_widget(edit_form.disciplines, {'attr': {'class':'custom-select btn-dark'}}) }}
                    </div>
                </div>
                <a href="{{ path('admin_discipline_new') }}">-> Ajouter une discipline</a>

            <!-- titre -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.titreSession, 'Titre de la Session  ') }}
                        {{ form_errors(edit_form.titreSession) }}
                        {{ form_widget(edit_form.titreSession, {'attr': {'class':'form-control '}}) }}
                    </div>
                </div>

            <!-- dates -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.dateSession, 'Dates de la Session : ') }}
                        {{ form_errors(edit_form.dateSession) }}
                        {{ form_widget(edit_form.dateSession, {'attr': {'class':'form-control '}}) }}
                    </div>
                </div>

            <!-- description -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.descriptionSession, 'Description de la session  ') }}
                        {{ form_errors(edit_form.descriptionSession) }}
                        {{ form_widget(edit_form.descriptionSession, {'attr': {'class':'form-control textarea'}}) }}
                    </div>
                </div>

            <!-- nbPlace -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.nbPlace, 'Nombre de places ') }}
                        {{ form_errors(edit_form.nbPlace) }}
                        {{ form_widget(edit_form.nbPlace, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>

            <!-- prix -->
                <div class="form">
                    <div class="">
                        {{ form_label(edit_form.prix, 'Prix ') }}
                        {{ form_errors(edit_form.prix) }}
                        {{ form_widget(edit_form.prix, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>

            <div class="form bouton">
                <div class="row justify-content-center">
                    {{ form_widget(edit_form) }}
                    <button class="btn btn-secondary btn-lg bouton" type="submit" value="Edit">Enregistrer les modifications</button>
                    {{ form_end(edit_form) }}
                </div>
            <div class="row justify-content-center text">
                <a href="{{ path('admin_session_index') }}"><- Revenir aux Sessions</a>
            </div>
            <div class="form bouton">
                <div class="row justify-content-center">
                    {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-light btn-lg bouton">Supprimer</button>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    </div>
            
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}