{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>MES SESSIONS</h1>
    </div>
    <div class="row justify-content-center bouton">
            <a href="{{ path('admin_session_new') }}">
                <img class="img-class" src="{{ asset('assets/images/glyph/ajoute-rond.png') }}" style="margin-right:10px;">
                <button class="btn btn-secondary btn-lg" type="button">Ajouter une nouvelle Session</button>
            </a>
    </div> 
    <div class="row justify-content-center top"> 
        <h2>- COURS -</h2>
    </div>
        {% for session in sessions | number('orderNumber') %}
        {% if session.formules == 'COURS' %}
        <div class="col-12 top">
        <div class="row justify-content-center rounded grey padding">
                <div>{{ session.orderNumber }}</div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">{% if session.image != null %}<img class="img-fluid" src="{{ asset('uploads/images/' ~ session.image.pathImage) }}">{% endif %}</div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="row justify-content-start">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> / {{ session.formules }} / {{ session.disciplines }} / 
                        <h3>{{ session.titreSession | upper }}</h3>
                        <div class="text-green">Dates : {{ session.dateSession }}</div>
                        <div>{{ session.prix }}</div>
                        <div class="description">"{{ session.descriptionSession | raw }}"</div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="row">
                                
                                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                                    <p>NOMBRE D'INSCRITS : <span class="nombreInscrits">{{ session.inscriptionCollection.snapshot | length }}</span></p>
                                    {% for inscription in session.inscriptionCollection.snapshot %} 
                                    <p class="border-green"><img src="{{ asset('assets/images/glyph/glyphicons-635-teenager.png') }}">
                                    {{ inscription.prenom | title }} / {{ inscription.age }}
                                     
                                     <div class="w-100"></div>Tel : {{ inscription.tel }} / email : {{ inscription.userId.email }}
                                    </p>{% endfor %}
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                                        <a href="{{ path('admin_session_edit', { 'id': session.id }) }}">
                                            <button type="submit" class="btn btn-small btn-lg bouton">Modifier</button>
                                        </a>
                                        <form action="{{ path('admin_session_delete', { 'id': session.id }) }}" method="post">
                                          <input type="hidden" name="_method" value="DELETE" />
                                          {{ form_widget(deleteForms[session.id]) }}
                                          <button type="submit" class="btn btn-small btn-lg bouton">
                                              Supprimer
                                          </button>
                                        </form>          
                                    
                                </div>
                            </div>
                            <div>{{ session.nbPlace }} places / Reste : {{ (session.nbPlace)-(session.inscriptionCollection.snapshot | length) }} places</span></div>
                            </div>
                        </div>
                    </div>
                </div> 
                </div>  
        {% endif %}       
        {% endfor %}
        <div class="row justify-content-center top">
            <h2>- STAGES -</h2>
        </div>
        {% for session in sessions | number('orderNumber') %}
        {% if session.formules == 'STAGE' %}
        <div class="col-12 top">
        <div class="row justify-content-center rounded grey padding">
                <div>{{ session.orderNumber }}</div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">{% if session.image != null %}<img class="img-fluid" src="{{ asset('uploads/images/' ~ session.image.pathImage) }}">{% endif %}</div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="row justify-content-start">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> / {{ session.formules }} / {{ session.disciplines }} / 
                        <h3>{{ session.titreSession | upper }}</h3>
                        <div class="text-green">Dates : {{ session.dateSession }}</div>
                        <div>{{ session.prix }}</div>
                        <div class="description">"{{ session.descriptionSession | raw }}"</div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="row">
                                
                                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                                    <p>NOMBRE D'INSCRITS : <span class="nombreInscrits">{{ session.inscriptionCollection.snapshot | length }}</span></p>
                                    {% for inscription in session.inscriptionCollection.snapshot %} 
                                    <p class="border-green"><img src="{{ asset('assets/images/glyph/glyphicons-635-teenager.png') }}">
                                    {{ inscription.prenom | title }} / {{ inscription.age }}
                                     
                                     <div class="w-100"></div>Tel : {{ inscription.tel }} / email : {{ inscription.userId.email }}
                                    </p>{% endfor %}
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                                        <a href="{{ path('admin_session_edit', { 'id': session.id }) }}">
                                            <button type="submit" class="btn btn-small btn-lg bouton">Modifier</button>
                                        </a>
                                        <form action="{{ path('admin_session_delete', { 'id': session.id }) }}" method="post">
                                          <input type="hidden" name="_method" value="DELETE" />
                                          {{ form_widget(deleteForms[session.id]) }}
                                          <button type="submit" class="btn btn-small btn-lg bouton">
                                              Supprimer
                                          </button>
                                        </form>          
                                    
                                </div>
                            </div>
                            <div>{{ session.nbPlace }} places / Reste : {{ (session.nbPlace)-(session.inscriptionCollection.snapshot | length) }} places</span></div>
                            </div>
                        </div>
                    </div>
                </div> 
                </div>  
        {% endif %}       
        {% endfor %}
        <div class="row justify-content-center top">
            <h2>- AUTRES ÉVÉNEMENTS -</h2>
        </div>
        {% for session in sessions | number('orderNumber') %}
        {% if (session.formules != "COURS") and (session.formules != "STAGE") %}
        <div class="col-12 top">
        <div class="row justify-content-center rounded grey padding">
                <div>{{ session.orderNumber }}</div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">{% if session.image != null %}<img class="img-fluid" src="{{ asset('uploads/images/' ~ session.image.pathImage) }}">{% endif %}</div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="row justify-content-start">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> / {{ session.formules }} / {{ session.disciplines }} / 
                        <h3>{{ session.titreSession | upper }}</h3>
                        <div class="text-green">Dates : {{ session.dateSession }}</div>
                        <div>{{ session.prix }}</div>
                        <div class="description">"{{ session.descriptionSession | raw }}"</div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="row">
                                
                                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                                    <p>NOMBRE D'INSCRITS : <span class="nombreInscrits">{{ session.inscriptionCollection.snapshot | length }}</span></p>
                                    {% for inscription in session.inscriptionCollection.snapshot %} 
                                    <p class="border-green"><img src="{{ asset('assets/images/glyph/glyphicons-635-teenager.png') }}">
                                     {{ inscription.prenom | title }} / {{ inscription.age }}
                                     
                                     <div class="w-100"></div>Tel : {{ inscription.tel }} / email : {{ inscription.userId.email }}
                                    </p>{% endfor %}
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                                        <a href="{{ path('admin_session_edit', { 'id': session.id }) }}">
                                            <button type="submit" class="btn btn-small btn-lg bouton">Modifier</button>
                                        </a>
                                        <form action="{{ path('admin_session_delete', { 'id': session.id }) }}" method="post">
                                          <input type="hidden" name="_method" value="DELETE" />
                                          {{ form_widget(deleteForms[session.id]) }}
                                          <button type="submit" class="btn btn-small btn-lg bouton">
                                              Supprimer
                                          </button>
                                        </form>          
                                    
                                </div>
                            </div>
                            <div>{{ session.nbPlace }} places / Reste : {{ (session.nbPlace)-(session.inscriptionCollection.snapshot | length) }} places</span></div>
                            </div>
                        </div>
                    </div>
                </div> 
                </div>  
        {% endif %}       
        {% endfor %}
</div>   
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}
