{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid bg-black">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center">
                    <h3 class="top">MES SESSIONS</h3>
                </div>
                <div class="row justify-content-center bouton">
                        <a href="{{ path('admin_session_new') }}">
                            <img class="img-class" src="{{ asset('assets/images/glyph/ajoute-rond.png') }}" style="margin-right:10px;">
                            <button class="btn btn-sm btn-secondary " type="button">Ajouter une nouvelle Session</button>
                        </a>
                </div>
                <div class="row justify-content-content top">
                    <h4 class="text-green ml-4">COURS</h4>
                </div>
                    {% for session in sessions | number('orderNumber') %}
                {#    -------------------------------------------------   COURS ---------------------------------------------------#}
                    {% if session.formules == 'COURS' %}
                        <div class="row justify-content-center bg-secondary padding mt-1 text-black">
                            <div class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                <div class="text-light">{{ session.orderNumber }}</div>
                                <div class="w-100"></div>
                                {% if session.image != null %}<img class="img-fluid top" src="{{ asset('uploads/images/' ~ session.image.pathImage) }}">
                                {% endif %}
                            </div>
                            <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                                <div class="row">
                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-white"> / {{ session.formules }} / {{ session.disciplines }} /
                                        <h3 class="categories">{{ session.titreSession | upper }}</h3>
                                        <div class="text-white">Dates : {{ session.dateSession }}</div>
                                        <div>Prix : {{ session.prix }}</div>
                                        <div class="text-black">{{ session.descriptionSession | raw }}</div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="text-white">NOMBRE D'INSCRITS :
                                                    <b>{{ session.inscriptionCollection.snapshot | length }}</b>
                                                </p>

                                                <div class="w-100"></div>
                                                {% for inscription in session.inscriptionCollection.snapshot %}
                                                <div class="row">
                                                    <img class="mt-1" style="height: 30px" src="{{ asset('assets/images/glyph/glyphicons-635-teenager.png') }}">
                                                    <div class="col-11 text-white bg-dark p-1 m-1">
                                                        {{ inscription.prenom | title }} / <span class="age">Age : {{ inscription.age }}
                                                         / Tel : </span>{{ inscription.tel }}<span class="age"> / email : {{ inscription.userId.email }}
                                                           / Forfait : {% if inscription.forfait1h %}1h{% endif %}
                                                        {% if inscription.forfait5h %}5h{% endif %}
                                                        {% if inscription.forfait10h %}10h{% endif %}
                                                        {% if inscription.forfaitAnnuel %}annuel{% endif %}
                                                        </span>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div>
                                            {{ session.nbPlace }} places / Reste : {{ (session.nbPlace)-(session.inscriptionCollection.snapshot | length) }} places
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 pt-4">
                                        <a href="{{ path('admin_session_edit', { 'id': session.id }) }}">
                                            <button type="submit" class="btn btn-sm btn-dark">Modifier</button>
                                        </a>
                                        <form action="{{ path('admin_session_delete', { 'id': session.id }) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            {{ form_widget(deleteForms[session.id]) }}
                                            <button type="submit" class="btn btn-danger btn-sm mt-4">
                                                Supprimer
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                    {% endfor %}
                <div class="row justify-content-content top">
                    <h4 class="text-green ml-4">STAGE</h4>
                </div>
                    {% for session in sessions | number('orderNumber') %}
        {#                ------------------------------------------------   STAGES --------------------------------------   #}
                    {% if session.formules == 'STAGES' %}
                        <div class="row justify-content-center bg-secondary padding mt-1 text-black">
                            <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <div class="text-light">{{ session.orderNumber }}</div>
                                <div class="w-100"></div>
                                {% if session.image != null %}<img class="img-fluid top" src="{{ asset('uploads/images/' ~ session.image.pathImage) }}">
                                {% endif %}
                            </div>
                            <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                <div class="row">
                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-white"> / {{ session.formules }} / {{ session.disciplines }} /
                                        <h3 class="categories">{{ session.titreSession | upper }}</h3>
                                        <div class="text-white">Dates : {{ session.dateSession }}</div>
                                        <div>Prix : {{ session.prix }}</div>
                                        <div class="text-black">{{ session.descriptionSession | raw }}</div>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="text-white">NOMBRE D'INSCRITS :
                                                    <b>{{ session.inscriptionCollection.snapshot | length }}</b>
                                                </p>

                                                <div class="w-100"></div>
                                                {% for inscription in session.inscriptionCollection.snapshot %}
                                                    <div class="row">
                                                        <img class="mt-1" style="height: 30px" src="{{ asset('assets/images/glyph/glyphicons-635-teenager.png') }}">
                                                        <div class="col-11 text-white bg-dark p-1 m-1">
                                                            {{ inscription.prenom | title }} / <span class="age">Age : {{ inscription.age }}
                                                         / Tel : </span>{{ inscription.tel }}<span class="age"> / email : {{ inscription.userId.email }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div>
                                            {{ session.nbPlace }} places / Reste : {{ (session.nbPlace)-(session.inscriptionCollection.snapshot | length) }} places
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 pt-4">
                                        <a href="{{ path('admin_session_edit', { 'id': session.id }) }}">
                                            <button type="submit" class="btn btn-sm btn-dark">Modifier</button>
                                        </a>
                                        <form action="{{ path('admin_session_delete', { 'id': session.id }) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            {{ form_widget(deleteForms[session.id]) }}
                                            <button type="submit" class="btn btn-danger btn-sm mt-4">
                                                Supprimer
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endif %}
                {% endfor %}
                <div class="row justify-content-content top">
                    <h4 class="text-green ml-4">AUTRES EVENEMENTS</h4>
                </div>
                {% for session in sessions | number('orderNumber') %}
                {% if (session.formules != "COURS") and (session.formules != "STAGES") %}
                    <div class="row justify-content-center bg-secondary padding mt-1 text-black">
                        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <div class="text-light">{{ session.orderNumber }}</div>
                            <div class="w-100"></div>
                            {% if session.image != null %}<img class="img-fluid top" src="{{ asset('uploads/images/' ~ session.image.pathImage) }}">
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                            <div class="row">
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-white"> / {{ session.formules }} / {{ session.disciplines }} /
                                    <h3 class="categories">{{ session.titreSession | upper }}</h3>
                                    <div class="text-white">Dates : {{ session.dateSession }}</div>
                                    <div>Prix : {{ session.prix }}</div>
                                    <div class="text-black">{{ session.descriptionSession | raw }}</div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="text-white">NOMBRE D'INSCRITS :
                                                <b>{{ session.inscriptionCollection.snapshot | length }}</b>
                                            </p>

                                            <div class="w-100"></div>
                                            {% for inscription in session.inscriptionCollection.snapshot %}
                                                <div class="row">
                                                    <img class="mt-1" style="height: 30px" src="{{ asset('assets/images/glyph/glyphicons-635-teenager.png') }}">
                                                    <div class="col-11 text-white bg-dark p-1 m-1">
                                                        {{ inscription.prenom | title }} / <span class="age">Age : {{ inscription.age }}
                                                         / Tel : </span>{{ inscription.tel }}<span class="age"> / email : {{ inscription.userId.email }}
                                                            </span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div>
                                        {{ session.nbPlace }} places / Reste : {{ (session.nbPlace)-(session.inscriptionCollection.snapshot | length) }} places
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 pt-4">
                                    <a href="{{ path('admin_session_edit', { 'id': session.id }) }}">
                                        <button type="submit" class="btn btn-sm btn-dark">Modifier</button>
                                    </a>
                                    <form action="{{ path('admin_session_delete', { 'id': session.id }) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        {{ form_widget(deleteForms[session.id]) }}
                                        <button type="submit" class="btn btn-danger btn-sm mt-4">
                                            Supprimer
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}
