{% extends "@FOSUser/layout.html.twig" %}


{% block fos_user_content %}
    
<div class="container-fluid identifiant">
    <div class="row justify-content-center">
        <div class="col-3 border border-dark" style="padding:20px">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="row justify-content-center">
                <div class="form col-12">
                        <label class="" for="username">{{ 'identifiant'|trans|capitalize }}</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    
                </div>
                <div class="w-100"></div>
                <div class="form col-12">
                        <label class="" for="password">{{ 'mot de passe'|trans|capitalize }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                    
                </div>
                <div class="w-100"></div>
                    <div class="form col-10">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" style="width:20px;height:20px;" />
                        <label for="remember_me" style="margin-left:3%">{{ 'mémoriser le mot de passe'|trans}}</label>
                    </div>
                <div class="w-100"></div>
                <div class="form">
                        <button type="submit" class="btn btn-dark">Connexion</button>
                    
                </div>
                </div>
            </form>
            
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 border border-dark" style="padding:20px; margin-top:20px;">
            <a href="{{ path('fos_user_resetting_request')}}">Mot de passe oublié</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 border border-dark" style="padding:20px; margin-top:20px;">
            <a href="{{ path('fos_user_registration_register')}}">Créer mon compte</a>
        </div>
    </div>
</div>
{% endblock fos_user_content %}