{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}
{% block body %}
<div class="container-fluid identifiant">
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md-9 col-sm-9 col-11" >
            <div class="row justify-content-center">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username | capitalize }, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="bottom">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}