{% include 'nav.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>AJOUTER UNE VIDÉOS</h1>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-5 top border border-dark">
    {{ form_start(form) }}
        <!-- titre -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.titre, 'Titre de la vidéo  ') }}
                        {{ form_errors(form.titre) }}
                        {{ form_widget(form.titre, {'attr': {'class':'form-control '}}) }}
                    </div>
                </div>
        <!-- contenu -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.contenu, 'Description de la vidéo ') }}
                        {{ form_errors(form.contenu) }}
                        {{ form_widget(form.contenu, {'attr': {'class':'form-control textarea'}}) }}
                    </div>
                </div>
        <!-- resume -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.resume, 'Résumé de la vidéo ') }}
                        {{ form_errors(form.resume) }}
                        {{ form_widget(form.resume, {'attr': {'class':'form-control textarea'}}) }}
                    </div>
                </div>
        <!-- iframe -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.iframe, 'Iframe de la Vidéo  ') }}
                        {{ form_errors(form.iframe) }}
                        {{ form_widget(form.iframe, {'attr': {'class':'form-control '}}) }}
                    </div>
                    <div>Attention si la vidéo provient de Viméo, penser à décocher les options spéciales de l'iframe !</div>
                </div>
        <!-- auteur -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.auteur, 'Auteur de la vidéo') }}
                        {{ form_errors(form.auteur) }}
                        {{ form_widget(form.auteur, {'attr': {'class':'form-control '}}) }}
                    </div>
                </div>
        <!-- date -->
                <div class="form">
                    <div class="">
                        {{ form_label(form.date, 'Date' ) }}
                        {{ form_errors(form.date) }}
                        {{ form_widget(form.date) }}
                    </div>
        
                </div>
    <div class="row justify-content-center top">
        <button class="btn btn-dark bouton" type="submit" value="Create">Ajouter la Vidéo</button>
    {{ form_end(form) }}
        <div class="w-100"></div>
            <a href="{{ path('admin_video_index') }}" class="text"><- Retour vers les Vidéos</a>
    </div>
    </div>
    </div>
</div>
{% endblock %}
