{% extends 'base.html.twig' %}
{% block connexion %}{% include 'connexion.html.twig' %}{% endblock %}
{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>MES TARIFS</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-11 col-lg-3 col-xl-3 rounded grey top padding">     
            
        {% for tarif in tarifs %}
            <div class="row justify-content-center">
                <div class="font-weight-bold">1 H : {{ tarif.uneHeure }} €</div>
                <div class="w-100"></div>
                <div class="font-weight-bold">5 H : {{ tarif.cinqHeures }} €</div>
                <div class="w-100"></div>
                <div class="font-weight-bold">10 H : {{ tarif.dixHeures }} €</div>
                <div class="w-100"></div>
                <div class="font-weight-bold">Trimestre : {{ tarif.trimestre }} €</div>
                <div class="w-100"></div>
                <div class="font-weight-bold">Annee : {{ tarif.annee }} €</div>
                <div class="w-100"></div>
                
                <div class="row justify-content-center">
                    <a href="{{ path('admin_tarif_edit', { 'id': tarif.id }) }}">
                    <button class="btn btn-small btn-lg bouton" type="submit" value="Edit">Modifier</button>
                    </a>
                </div>
            </div>
            
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}